<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace一般定义为 包名+文件名 -->
<mapper namespace="com.example.server0.mapper.ResultMapper">
    <resultMap id="ResultMap" type="com.example.server0.model.Result">
        <id column="id" jdbcType="INTEGER" property="id" javaType="java.lang.Integer"/>
        <result column="voteId" jdbcType="INTEGER" property="voteId" javaType="java.lang.Integer"/>
        <result column="outputs0" jdbcType="BLOB" property="outputs0" javaType="byte[]"/>
        <result column="vw0" jdbcType="VARCHAR" property="vw0" javaType="java.lang.String"/>
        <result column="outputs1" jdbcType="BLOB" property="outputs1" javaType="byte[]"/>
        <result column="vw1" jdbcType="VARCHAR" property="vw1" javaType="java.lang.String"/>
    </resultMap>

    <insert id="insertResult">
        insert into votingsystem.results(voteId, outputs0, vw0) values(#{results.voteId}, #{results.outputs0}, #{results.vw0})
    </insert>

    <select id="vw0ByVoteId" resultType="java.util.List">
        SELECT ARRAY_AGG(vw0) AS vw0s
        FROM results
        WHERE voteId = #{voteId};
    </select>

    <select id="vw1ByVoteId" resultType="java.util.List">
        SELECT ARRAY_AGG(vw1) AS vw1s
        FROM results
        WHERE voteId = #{voteId};
    </select>

    <select id="outputs0ByVoteId" resultType="java.util.List">
        SELECT ARRAY_AGG(outputs0) AS outputs0s
        FROM results
        WHERE voteId = #{voteId};
    </select>




</mapper>
