<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace一般定义为 包名+文件名 -->
<mapper namespace="com.example.server1.mapper.CandidateMapper">
    <resultMap id="CandidateMap" type="com.example.server1.model.Candidate">
        <id column="candidateId" jdbcType="INTEGER" property="candidateId" javaType="java.lang.Integer"/>
        <result column="candidateName" jdbcType="VARCHAR" property="candidateName" javaType="java.lang.String"/>
        <result column="candidateDetails" jdbcType="VARCHAR" property="candidateDetails" javaType="java.lang.String"/>
        <result column="candidatePhoto" jdbcType="BLOB" property="candidatePhoto" javaType="java.sql.Blob"/>
    </resultMap>



    <select id="selectByCandidate" resultMap="CandidateMap">
        select candidateId,candidateName
        from votingsystem.candidate
        where candidateId=#{candidate.candidateId} and candidateName=#{candidate.candidateName}
    </select>

    <!--
   数据库返回数据会有三种标准形态
   1. 没有找到匹配数据，返回空的内容
   2. 找到一条数据，返回单行内容
   3. 找到多条数据，返回多行内容
   -->


    <select id="selectByPage" resultMap="CandidateMap">
        select
        candidateId,candidateName,candidateDetails,cndidatePhoto
        from
        votingsystem.candidate
        <where>
            <if test="candidateName != null and candidateName != ''">
                candidateName like "%"#{candidateName}"%"
            </if>

        </where>
        limit
        #{index},#{limit}
    </select>


    <insert id="insert">
        insert into votingsystem.candidate(candidateId, candidateName, candidateDetails,candidatePhoto) values(#{candidate.candidateId}, #{candidate.candidateName}, #{candidate.candidateDetails},#{candidate.candidatePhoto})
    </insert>



    <delete id="deleteById">
        delete from votingsystem.candidate where candidateId=#{candidateId}
    </delete>

    <update id="updateDetails">
        update votingsystem.candidate set candidateDetails=#{candidateDetails} where candidateId=#{candidateId}
    </update>


</mapper>