<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace一般定义为 包名+文件名 -->
<mapper namespace="com.example.server1.mapper.VoteCandidateMapper">
    <resultMap id="VoteCandidateMap" type="com.example.server1.model.VoteCandidate">
        <id column="voteCandidateId" jdbcType="INTEGER" property="voteCandidateId" javaType="java.lang.Integer"/>
        <result column="candidate_Id" jdbcType="INTEGER" property="candidate_Id" javaType="java.lang.Integer"/>
        <result column="vote_Id" jdbcType="INTEGER" property="vote_Id" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="countCandidatesByVoteId" resultType="int">
        SELECT COUNT(candidate_Id) AS numCandidates
        FROM votecandidate
        WHERE vote_Id = #{voteId}
    </select>


</mapper>